/**************************
| Utils                   |
**************************/

.u-d-flex {
  display: flex;
}

.u-al-center {
  align-items: center;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
}

/**************************
| Util Components         |
**************************/

.cta {
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 14px;
  width: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cta, .primary {
  background: #0098ec;
  border: 1px solid #0098ec;
}

.cta, .secondary {
  background: #8a45e5;
  border: 1px solid #8a45e5;
}

/**************************
| Footer                  |
**************************/

.footer {
  background-color: #28328c;
  color: white;
  padding: 20px;
  text-align: center;
}


/**************************
| Navigation              |
**************************/

.navigation {
  background-color: #28328c;
  color: white;
  padding: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navigation .title {
  text-align: center;
  width: 80%;
}

.navigation .back-cta {
  text-align: center;
  width: 10%;
}


/**************************
| Filters                 |
**************************/

.filter-wrapper {
  border: 1px solid lightgray;
  display: flex;
  padding : 16px 20px;
  gap : 12px;
}

.filter-cta {
  border: 1px solid lightgray;
  padding : 8px 16px;
  border-radius: 16px;
}

/**************************
| Headers                 |
**************************/

.header-section {
  padding: 20px;
  border: 1px lightgray solid;
}

.header{
  font-size: 22px;
  font-weight: 600;
}
.sub-header{
  font-size: 18px;
  margin-top: 8px;
}

/**************************
| Modals             |
**************************/

.modalClose{
  float:right
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
}

.modal-body {
  padding : 20px;
  text-align: center;
}
